<div class="container">
	<div class="well text-center">
		<h1>Shopapp Web - Recordar Password</h1>
	</div>
	<div class="col-sm-6">
		<form name="form" ng-submit="vm.forgotpassword()" role="form">
			<div class="form-group col-sm-12"
				ng-class="{ 'has-error': form.username.$touched && form.username.$invalid }">
				<!-- <label class="col-sm-10">Ingrese el email de la cuenta</label>  -->
				<input class="form-control" type="text" placeholder="Email"
					ng-model="param.username" id="username" name="username"
					required="required" />
				<div class="help-block" ng-messages="form.username.$error"
					ng-if="form.username.$touched && form.username.$invalid">
					<p ng-message="required">Ingrese un email para enviar un link
						de restauración de password</p>
				</div>
			</div>

			<div class="form-actions col-sm-12">
				<button type="submit" class="btn btn-primary" href="#"
					ng-disabled="form.$invalid || vm.dataLoading">Send Reset
					Password Email</button>
				<a class="btn btn-primary" href="#!/login">Back to Login</a> <img
					ng-if="vm.dataLoading"
					src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

			</div>

			<div>
				&nbsp;
				<div growl reference="1" inline="true"></div>
			</div>

			<div class="help-block" ng-show="hasError">
				<alert ng-repeat="error in errors track by $index" type="danger"
					close="closeAlert($index)">{{error}}</alert>
			</div>
		</form>
	</div>
</div>